* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
	display: flex;
	justify-content: space-between;
  align-items: center;
	height: 18%;
  background: #f08623;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:0;
}

.logo img {
   margin-left: 1.4em;
   max-width: 20%;
   height: auto;
}

 nav ul {
	display: flex;
  flex-flow: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: .5s;
  list-style-type: none;
}

nav ul li a {
	padding: 10px 15px;
	text-decoration: none;
	color: #D2D9DC;
	font-weight: bold;
  transition: .5s;
}

header ul li a:hover 
{
  text-decoration: underline;
  color: #ffff;
}

footer {
    bottom: 0;
    background: #f08623;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  
  footer a {
    color: rgb(231, 231, 231);
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  main {
    flex: 1;
  }
.main__sobre {
    width: 90%;
    margin: 0 auto;
}

.main__titulo__principal {
    margin-top: 15px;
    margin-bottom: 15px;
}

.main__sobre p {
    line-height: 1.5;
}

.main__cards__titulo,
.main__acoes__titulo {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.main__cards__lista {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.main__cards__card {
    width: 30%;
    background-color: antiquewhite;
    padding: 5px;
}

.main__cards__card__legenda {
    font-style: italic;
    margin-top: 8px;
}

.main__cards__card img {
    width: 100%;
}

.footer {
    margin-top: 50px;
    background: #f08623;
    color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__lista__redes {
    margin-bottom: 10px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.main__acoes__row {
    display: flex;
    align-items: center;
}

.main__acoes__row p {
    padding: 15px;
    font-size: 20px;
}

.main__acoes__row img {
    width: 50%;
}

.footer__lista__redes i {
    cursor: pointer;
}

.footer__lista__redes i:hover {
    color: antiquewhite;
    text-shadow: 0 0 4px green;
}

.footer__lista__texto {
    text-align: center;
}